.all-slides-wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.slide-title {
  color: #424242;
}

@media (max-width: 650px) {
  .slide-title {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .all-cards-wrapper {
    flex-direction: column;
  }
}
