.all-slides-wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.slide-title {
  color: #424242;
}

@media (max-width: 650px) {
  .slide-title {
    text-align: center;
  }
}

.all-img-wrapper {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

@media (max-width: 650px) {
  .all-cards-wrapper {
    flex-direction: column;
  }
}

.card-wrapper:hover {
  transform: scale(1.2);
}

.card-image {
  border: 0;
  cursor: pointer;
  padding: 0 5px;
  width: 180px;
  height: 140px;
  object-fit: cover;
  vertical-align: middle;
}
